.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 30px; 
}

.hero-text {
    flex: 1;
    max-width: 600px;
    margin-top: 20px;    
}

.hero-text h1 {
    width: 574px;
    font-size: 52px;
    font-weight: 700;
    color: #3f3f3f;
    margin-bottom: 25px;
    margin: 0;
    line-height: 1.2;
}

.hero-text .highlight {
    color: #F72D57;
}

.hero-text p {
    width: 517px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin: 0;
    margin-top: 30px;
}

.hero-image {
    flex: 1;
    display: flex;
}

.hero-image img {
    position: relative;
    width: 700px;
    height: 450px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding: 70px 20px 40px 20px;
        margin-top: 0;
        text-align: center; 
    }

    .hero-text {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text h1 {
        width: 100% !important; 
        font-size: 32px;
    }

    .hero-text p {
        width: 100% !important;
        font-size: 16px;
    }

    .hero-image {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .hero-image img {
        width: 90% !important;
        height: auto !important;
        position: relative;
        scale: 1.3;
        right: 20px;
    }
}